<div class="row">
	<div class="col-xl-6">
		<!--<dropzone [config]="dropzoneConfig" [message]="'Click or drag files here to upload'" (success)="onUploadSuccess($event)" (removedFile)="removeEvent($event)"></dropzone>-->
		<div class="dropzone"
			 dropZone
			 (hovered)="toggleHover($event)"
			 (dropped)="startUpload($event)"
			 [class.hovering]="isHovering">
			<h3>File Drop Zone</h3>
			<div class="file">
				<label class="file-label">
					<input class="file-input" type="file" (change)="startUpload($event.target.files)">
					<span class="file-cta">
						<span class="file-icon">
							<i class="fa fa-upload"></i>
						</span>
						<span class="file-label"> or choose a file…</span>
					</span>
				</label>
			</div>
		</div>
		<div *ngIf="percentage | async as pct">
			<mat-progress-bar mode="determinate" [value]="pct | number"></mat-progress-bar>
			{{ pct | number }}%
		</div>


		<div *ngIf="snapshot | async as snap">

			<button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
			<button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
			<button (click)="task.resume()" class="button is-info"   [disabled]="!(snap?.state === 'paused')">Resume</button>

		</div>
	</div>
	<div class="col-xl-6">
		<ul class="list-unstyled">
			<li class="border-bottom pb-3 mb-3 d-flex align-items-center res-item" *ngFor="let res of files;let last = last;let i =index" [attr.hidden]="res._isDeleted">
				<a [href]="res.link" target="_blank" class="title d-flex align-items-center text-dark"><img class="mr-3" [src]="'./assets/app/media/img/files/' + res.type+'.svg'" width="30" alt="">
					<span class="pt-1">{{res.title}} <small>{{'(' +res.size + ')'}}</small></span>
				</a>
				<button mat-button class="square-btn ml-auto" (click)="deleteFile(i)"><i class="fa fa-times"></i></button>
			</li>
		</ul>
	</div>
</div>
