﻿<!--<div class="card" id="LoginArea" [@routerTransition]>
    <div #cardBody class="body">
        <form #loginForm="ngForm" id="LoginForm" method="post" novalidate (ngSubmit)="login()">
            <h4 class="text-center">{{l("LogIn")}}</h4>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">person</i>
                </span>
                <div class="form-line">
                    <input [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control" type="text" autocomplete="off" placeholder="{{l('UserNameOrEmail')}}" name="userNameOrEmailAddress" required maxlength="255" />
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">lock</i>
                </span>
                <div class="form-line">
                    <input type="password" [(ngModel)]="loginService.authenticateModel.password" class="form-control" name="password" placeholder="{{l('Password')}}" required maxlength="32">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 p-t-5">
                    <input type="checkbox"  [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme" class="filled-in chk-col-pink" value="true">
                    <label for="rememberme">{{l("RememberMe")}}</label>
                </div>
                <div class="col-xs-4">
                    <button id="LoginButton" class="btn btn-block bg-pink waves-effect" type="submit">{{l("LogIn")}}</button>
                </div>
            </div>

            <div class="row m-t-15 m-b&#45;&#45;20" *ngIf="isSelfRegistrationAllowed">
                <div class="col-xs-12">
                    <a [routerLink]="['../register']">{{l("Register")}}</a>
                </div>
            </div>
        </form>
    </div>
</div>-->


<div class="m-login__signin" [@routerTransition]>
	<div #cardBody>
		<div class="m-login__title">
			<h3>Login Account</h3>
		</div>

		<m-auth-notice></m-auth-notice>

		<!--begin::Form-->
		<form #loginForm="ngForm" class="m-login__form m-form" id="LoginForm" method="post" novalidate (ngSubmit)="login()">
			<div class="form-group">
				<mat-form-field>
					<mat-label>Email</mat-label>
					<input matInput autocomplete="off" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus type="text" autocomplete="off" placeholder="{{l('UserNameOrEmail')}}" name="userNameOrEmailAddress" required maxlength="255" >
				</mat-form-field>
			</div>
			<div class="form-group">
				<mat-form-field>
					<mat-label>Password</mat-label>
					<input matInput autocomplete="off" type="password" [(ngModel)]="loginService.authenticateModel.password" name="password" placeholder="{{l('Password')}}" required maxlength="32">
				</mat-form-field>
			</div>

			<!--begin::Action-->
			<div class="m-login__action m-login__action--fit">
				<a href="javascript:;" class="m-link">
					<span>Forgot Password?</span>
				</a>
				<m-spinner-button id="LoginButton" [options]="spinner" type="submit">{{l("LogIn")}}</m-spinner-button>
			</div>
			<!--end::Action-->
		</form>
		<!--end::Form-->

		<!--begin::Divider-->
		<div class="m-login__form-divider">
			<div class="m-divider">
				<span></span>
				<span>OR</span>
				<span></span>
			</div>
		</div>
		<!--end::Divider-->
		<div class="row m-t-15 m-b--20" *ngIf="isSelfRegistrationAllowed">
			<div class="col-xs-12">
				<a [routerLink]="['../register']">{{l("Register")}}</a>
			</div>
		</div>
		<!--begin::Options-->
		<div class="m-login__options">
			<a href="javascript:;" mat-raised-button color="primary">
			<span>
				<i class="fab fa-facebook-f"></i>&nbsp;
				<span>Facebook</span>
			</span>
			</a>

			<a href="javascript:;" mat-raised-button color="accent">
			<span>
				<i class="fab fa-twitter"></i>&nbsp;
				<span>Twitter</span>
			</span>
			</a>

			<a href="javascript:;" mat-raised-button color="warn">
			<span>
				<i class="fab fa-google"></i>&nbsp;
				<span>Google</span>
			</span>
			</a>
		</div>
	</div>
	<!--end::Options-->
</div>
<!--end::Signin-->

