<!--Begin::Section-->
<div class="row " ngxDroppable="dashboard">
	<div class="col-xl-4" ngxDraggable>
		<m-finance-stats></m-finance-stats>
	</div>
	<div class="col-xl-4" ngxDraggable>
		<m-blog></m-blog>
	</div>
	<div class="col-xl-4" ngxDraggable>
		<m-packages></m-packages>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row" ngxDroppable="dashboard">
	<div class="col-xl-6" ngxDraggable>
		<m-portlet>
			<ng-container mPortletHeadTitle>
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Test Chart
					</h3>
				</div>
			</ng-container>
			<ng-container mPortletBody>
				<div [chart]="chart"></div>
			</ng-container>
		</m-portlet>
	</div>
	<div class="col-xl-6" ngxDraggable>
		<m-leaderboard></m-leaderboard>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row" ngxDroppable="dashboard">
	<div class="col-xl-6" ngxDraggable>
		<m-tasks></m-tasks>
	</div>
	<div class="col-xl-6" ngxDraggable>
		<m-support-tickets></m-support-tickets>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row" ngxDroppable="dashboard">
	<div class="col-xl-6" ngxDraggable>
		<m-recent-activities></m-recent-activities>
	</div>
	<div class="col-xl-6" ngxDraggable>
		<m-recent-notifications></m-recent-notifications>
	</div>
</div>
<!--End::Section-->

<!--Begin::Section-->
<div class="row" ngxDroppable="dashboard">
	<div class="col-xl-8" ngxDraggable>
		<m-best-seller></m-best-seller>
	</div>
	<div class="col-xl-4" ngxDraggable>
		<m-author-profit></m-author-profit>
	</div>
</div>
<!--End::Section-->
