<div id="record-modal">
	<svg [ngClass]="{'d-none': recorded}" preserveAspectRatio="none" #visualizer class="vis-svg" id="visualizer" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<mask id="mask">
				<path id="vis-path"></path>
				<g id="maskGroup">
				</g>
			</mask>
			<linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
				<stop offset="0%" style="stop-color:#c82333;stop-opacity:1" />
				<stop offset="100%" style="stop-color:#716aca;stop-opacity:1" />
			</linearGradient>
		</defs>
		<rect x="0" y="0" width="100%" height="100%" fill="url(#gradient)" mask="url(#mask)"></rect>
	</svg>
	<h2 mat-dialog-title>Record a video</h2>
	<hr>
	<div mat-dialog-content style="position: relative">
		<p class="error-mic"></p>
		<video id="record-video" controls class="video-js vjs-default-skin"></video>
		<div class="circle-box" *ngIf="isSaving">
			<!--<circle-progress
				[backgroundColor]="'#716aca'"
				[percent]="uploadProgress | async"
				[animationDuration]="1000"
				[animation]="false"
				[radius]="100"
				[showInnerStroke]="false"
				[titleColor]="'#ffffff'"
				[outerStrokeWidth]="16"
				[innerStrokeWidth]="8"
				[toFixed]="2"
				[outerStrokeColor]="'#FFFFFF'"
				[innerStrokeColor]="'#FFFFFF'"
			></circle-progress>-->
		</div>
	</div>
	<hr>
	<div mat-dialog-actions class="mb-3">
		<button mat-raised-button *ngIf="!recorded" [disabled]="!deviceReady" class="btn-record mx-auto w-100" [color]="isRecording ? 'warn' : 'primary'" type="button" (click)="startRecord()">{{isRecording ? 'Stop Recording' : 'Record video'}}</button>
		<div class="btn-group btn-group-lg justify-content-center d-flex" *ngIf="recorded">
			<button mat-raised-button class="" (click)="saveRecord()" color="primary" ngClass="mr-3">Submit Recording</button>
			<button mat-raised-button class="" (click)="discardRecord()" color="warn">Discard Recording</button>
		</div>
	</div>
	<hr>
	<div mat-dialog-actions class="d-flex ml-auto">
		<button mat-raised-button class="ml-auto" (click)="closeModal()">Cancel</button>
	</div>
</div>
