
<form [formGroup]="formGroup" class="m-form m-form--group-seperator-dashed">

	<!--<m-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
		Oh snap! Change a few things up and try submitting again.
	</m-alert>-->

	<div class="m-form__section m-form__section--first">
		<div class="m-form__group">
			<div class="row">
				<div class="col-md-6 m--margin-bottom-10-mobile">
					<h5 class="mb-4">1. Competency Criteria</h5>
					<ngb-alert [dismissible]="false" [type]="'info'">
						What is the <strong>competency criteria</strong> for this lesson?
					</ngb-alert>
					<div class="row">
						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Enter correct %" formControlName="competencyCorrect" maxlength="3">
								<mat-error>
									Competency criteria is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">Please enter
									<strong>competency criteria</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-6">
							<mat-form-field class="mb-4 w-100">
								<mat-select placeholder="Lesson trial limits" formControlName="competencyTrialLimitSelect" >
									<mat-option value="0">Unlimited</mat-option>
									<mat-option value="1">Lesson trial limit</mat-option>
									<mat-option value="2">Lesson trial minimum requirement</mat-option>
								</mat-select>
								<mat-hint align="start">Please enter
									<strong>trial limits</strong>
								</mat-hint>
							</mat-form-field>
							<mat-form-field *ngIf="formGroup.controls.competencyTrialLimitSelect.value != '0'" class="w-100">
								<input matInput placeholder="Enter number" formControlName="competencyTrialNum" >
								<mat-hint align="start">Please enter
									<strong>trial limits</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
				<div class="col-md-6 m--margin-bottom-10-mobile">
					<h5 class="mb-4">2. Maintenance Criteria</h5>
					<mat-checkbox name="maintenanceInput" class="mb-4 d-inline-block" formControlName="maintenanceEnable">Enable</mat-checkbox>
					<div class="row" *ngIf="formGroup.controls.maintenanceEnable.value">
						<div class="col-md-12">
							<ngb-alert [dismissible]="false" [type]="'info'">
								When does the learner need to repeat this lesson?
							</ngb-alert>
							<mat-form-field class="mat-form-field-fluid w-50 mb-4" >
								<input matInput [matDatepicker]="picker" placeholder="Choose a date" (focus)="picker.open()" formControlName="repeatDate">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
								<mat-hint align="start">Please enter
									<strong>date for repeat</strong>
								</mat-hint>
							</mat-form-field>
							<ngb-alert [dismissible]="false" [type]="'info'">
								What proficiency criteria does the learner need to meet to pass maintenance?
							</ngb-alert>
						</div>
						<div class="col-md-6">
							<mat-form-field class="mat-form-field-fluid">
								<input matInput placeholder="Enter correct %" formControlName="maintenanceCorrect">
								<mat-error>
									Competency criteria is
									<strong>required</strong>
								</mat-error>
								<mat-hint align="start">Please enter
									<strong>competency criteria</strong>
								</mat-hint>
							</mat-form-field>
						</div>
						<div class="col-md-6">
							<mat-form-field class="mb-4 w-100">
								<mat-select placeholder="Lesson trial limits" formControlName="maintenanceTrialLimitSelect" >
									<mat-option value="0">Unlimited</mat-option>
									<mat-option value="1">Lesson trial limit</mat-option>
									<mat-option value="2">Lesson trial minimum requirement</mat-option>
								</mat-select>
								<mat-hint align="start">Please enter
									<strong>trial limits</strong>
								</mat-hint>
							</mat-form-field>
							<mat-form-field *ngIf="formGroup.controls.maintenanceTrialLimitSelect.value != '0'" class="w-100">
								<input matInput placeholder="Enter number" formControlName="maintenanceTrialNum" >
								<mat-hint align="start">Please enter
									<strong>trial limits</strong>
								</mat-hint>
							</mat-form-field>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
