.leaderboard-grid {
	.l-item {
		display: flex;
		align-items: center;
		border-width: 2px;
		margin-bottom: 1px;
		&:first-child {
			box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
		}
		.name {
			display: flex;
			align-items: center;
			img {
				margin-right: 10px;
				max-width: 50px;
			}
			p {
				margin-bottom: 0;
				font-size: 16px;
				small {
					vertical-align: middle;
					display: inline-block;
					font-size: 12px;
					.fa {
						margin-right: 2px;
						position: relative;
						top: 1px;
					}
				}
			}
		}
		.trophy-box {
			margin-left: auto;
			background: url("../../../../../../../assets/app/media/img/leaderboard/usual-trophy.png") no-repeat 0 0/cover;
			height: 50px;
			width: 50px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			.fa {
				color: #fff;
				font-size: 30px;
			}
			&.gold {
				background: url("../../../../../../../assets/app/media/img/leaderboard/gold-trophy.png") no-repeat 0 0/cover;
			}
			&.silver {
				background: url("../../../../../../../assets/app/media/img/leaderboard/silver-trophy.png") no-repeat 0 0/cover;
			}
			&.bronze {
				background: url("../../../../../../../assets/app/media/img/leaderboard/bronze-trophy.png") no-repeat 0 0/cover;
			}
		}
	}
}
