/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-table__wrapper {
	width: 100%;
	overflow-x: auto;


	mat-cell, mat-header-cell {
		min-height: 100%;
	}


}

.mat-table__wrapper .mat-table {
	min-width: 1000px;
	width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
}


.mat-table__wrapper .mat-table .email-cell {
	word-wrap: normal;
	width: 180px;
	flex: auto;
}


.m-mat-dialog-container__wrapper .mat-dialog-container {
	padding: 0;
	overflow-x: hidden;

	.m-portlet {
		margin-bottom: 0;
	}

	.alert {
		border-radius: 0 !important;
		width: 1032px;
	}
}

.mat-table__wrapper--sub .mat-table {
	min-width: 400px;

	.mat-cell:last-child {
		flex: 0 0 100px;
	}

	.mat-header-cell:last-child {
		flex: 0 0 100px;
	}
}

.ml-auto {
	margin-left: auto;
}

.example-full-width {
	width: 100%;
}

mat-radio-button {
	padding-right: 16px;
}

.m-form--alert {
	margin-top: 30px;
}

.mat-column-checkbox {
	flex: 0 0 68px;
}

.mat-column-id {
	flex: 0 0 68px;
}

.mat-column-main {
	flex: 0 0 568px;
}

.mat-column-actions {
	flex: 0 0 160px;
}

.mat-table__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.m-portlet-mx-0 {
	margin: -1.1rem -2.2rem 0;
	overflow-x: hidden;
}
.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
	height: 0;
	min-height: 0;
	padding: 0 !important;
	border-bottom:0 !important;
}
.mat-column-description {
	flex: 0 0 700px;
}
/*mat-row {
	align-items: flex-start !important;
	.mat-cell {
		padding: 10px;
	}
}*/
mat-cell.mat-column-description {
	padding: 10px 0;
}
.video-box {
	position: relative;
	.video-action {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 1000;
		transition: opacity .2s;
		opacity: .5;
		.mat-mini-fab {
			background: #fff !important;
		}
		.material-icons {
			color: #000;
		}
	}
	&:hover {
		.video-action {
			opacity: 1;
		}
	}
}
.markers-list {
	padding: 5px;
	.marker {
		padding-bottom: 0 !important;
		input, textarea {
			&.ng-invalid {
				//border: 1px solid #f4516c !important;
				background: rgba(#f4516c, .5);
				color: #fff !important;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #fff !important;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #fff !important;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #fff !important;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #fff !important;
				}
			}
		}
		&.bg-success {
			.mat-raised-button.bg-success {
				background-color: #ebedf2!important;
				color: #000 !important;
			}
			&.edit {
				input, textarea {
					border-color: #FFF !important;
				}
			}
			&:not(.bg-warning) {
				input, textarea {
					background: #34bfa3;
					color: #fff;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: #fff;
					}
					&::-moz-placeholder { /* Firefox 19+ */
						color: #fff;
					}
					&:-ms-input-placeholder { /* IE 10+ */
						color: #fff;
					}
					&:-moz-placeholder { /* Firefox 18- */
						color: #fff;
					}
				}
			}
		}
		&.bg-warning {
			button.bg-warning {
				background-color: #ebedf2!important;
				color: #000 !important;
			}
		}
		&.edit {
			.title {
				button {
					right: 1px;
					top: 1px;
					bottom: 1px;
				}
			}
		}
	}
	.title {
		position: relative;
		input {
			outline: none;
			font-weight: 500;
			font-size: 17px;
		}
		button {
			box-shadow: none;
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
	.marker-description {
		textarea {
			resize: none;
			width: 100%;
			outline: none;
		}
	}
}
.entity-form .m-scrollable {
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 15px;
	right: 15px;
	width: auto;
	bottom: 0;
	padding: 0 20px 75px 0 !important;
	margin: 0 !important;
	position: absolute !important;
	.ps-content {
	}
	mat-card {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.vjs-break-overlay {
	height: auto!important;
	z-index: 20!important;
}
.mat-raised-button.bg-success:disabled {
	background: #c1bfd0 !important;
}
.addAnnotation {
	max-width: 200px;
	width: auto !important;
}
#videoModal {
	overflow: visible !important;
}
#record-modal .video-js .vjs-control.vjs-fullscreen-control {
	position: absolute;
	right: 0;
}
.video-js .vjs-control.vjs-fullscreen-control {
	right: auto;
	position: relative;
}
#record-video {
	background-color: #9FD6BA;
	overflow: visible !important;
}
#record-modal {
	position: relative;
	padding: 20px;
}
#record-modal #visualizer{
	display: block;
	width: 30px;
	height: 300px;
	padding: 5px;
	left: -24px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	top: 50%;
	margin-top: -150px;
	background: #fff;
	position:absolute;

}
#record-modal #visualizer path{
	stroke-linecap: square;
	stroke: white;
	stroke-width: 40px !important;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
}
#record-modal .circle-box {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background: rgba(0,0,0,.8);
}
#record-modal circle-progress {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -122px 0 0 -122px;
}
.error-mic {
	display: none;
}
.entity-form {
	textarea, input {
		font-size: 16px;
	}
	textarea.mat-input-element {
		overflow: hidden;
	}
}
mat-table {
	&.table-hover {
		.mat-row:hover {
			background: #f7f8fa;
			cursor: pointer;
		}
	}
}
button[title='Insert Image'] {
	display: none;
}
.angular-editor-toolbar-set:nth-child(7) {
	display: none !important;
}
.res-item[hidden='true'] {
	display: none !important;
}
.res-item {
	a {
		font-size: 18px;
		small {
			font-size: 12px;
			color: #c1bfd0;
		}
	}
}
dropzone > .dropzone.dz-wrapper .dz-message, dropzone > .dropzone.dz-wrapper.dz-single .dz-message {
	height: 150px !important;
}
html dropzone > .dropzone.dz-wrapper .dz-preview .dz-filename span:hover {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dropzone {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	border: 2px dashed #f16624;
	border-radius: 5px;
	background: white;
	margin: 10px 0;

	&.hovering {
		border: 2px solid #f16624;
		color: #dadada !important;
	}
}
.video-empty {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	border: 2px dashed #34bfa3 ;
	border-radius: 5px;
	background: white;
}
.file-input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
progress::-webkit-progress-value {
	transition: width 0.1s ease;
}

.mat-pseudo-checkbox-checked::after {
	left: 2px !important;
	top: 4px !important;
}
.fas.fa-grip-vertical {
	display: none;
}
[ngxdraggable] {
	.fas.fa-grip-vertical {
		display: block;
		position: absolute;
		right: 12px;
		top: 23px;
		z-index: 1;
		cursor: pointer;
		color: #7b7e8a;
	}
}
m-finance-stats {
	.fas.fa-grip-vertical {
		color: #fff !important;
	}
}

.m-login__signin input:-webkit-autofill, .m-login__signin textarea:-webkit-autofill, .m-login__signin select:-webkit-autofill {
	background: #fff !important;
	box-shadow: 0 0 0 30px white inset;
}

m-auth {
	display: flex;
	flex-direction: column;
	flex: 1;
	-ms-flex: 1 0 0px;
	.m-grid__item {
		flex: 1;
		-ms-flex: 1 0 0px;
	}
}
.m-login__body {
	flex-direction: column;
}
.account-language-switch-list {
	margin-top: 30px !important;
	a {
		font-size: 14px;
		text-decoration: none;
		color: #00BCD4;
		.famfamfam-flags {
			display: inline-block;
		}
	}
}
.spinner, .blockUI {
	display: none !important;
}
