
<m-portlet [options]="{headLarge: true, enableSticky: true}" [loading$]="loading$">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				{{ getComponentTitle() }}
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<mat-slide-toggle class="mr-4" [checked]="fakeStatus || false" #status (change)="changeStatus(fakeStatus)"><span [ngClass]="">{{fakeStatus ? 'Active' : 'Closed'}}</span></mat-slide-toggle>
		<button type="button" (click)="goBack()" mat-raised-button matTooltip="Back to the products list">Back</button>&nbsp;
		<button mat-raised-button (click)="reset()" [disabled]="selectedTab !== 0" matTooltip="Reset changes">Reset</button>&nbsp;

		<div class="m-buttons--wrapper">
			<button type="button" (click)="onSumbit(false)" mat-raised-button color="primary" matTooltip="Save & Continue">Save</button>
			<button mat-icon-button [matMenuTriggerFor]="menu" color="primary" >
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">Save & Exit</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">Save & Continue</button>
			</mat-menu>
		</div>
	</ng-container>
	<ng-container mPortletBody>
		<mat-tab-group #entityTabs class="entity-form" *ngIf="course" (selectedTabChange)="tabChange()" (focusChange)="destroyEvent()">
			<mat-tab label="Basic info">
				<ng-template matTabContent>
					<!--begin::Form-->
					<form [formGroup]="courseForm" class="m-form m-form--group-seperator-dashed">

						<m-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
							Oh snap! Change a few things up and try submitting again.
						</m-alert>
						<div class="m-form__group">
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="mat-form-field-fluid mb-4">
										<input matInput placeholder="Enter Title" formControlName="title">
										<mat-error>Title is <strong>required</strong></mat-error>
										<mat-hint align="start">Please enter <strong>Title</strong></mat-hint>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="mat-form-field-fluid mb-4">
										<mat-select formControlName="selectedParent" placeholder="Select curriculum">
											<mat-option *ngFor="let option of parentEntityArray" value="{{option.value}}">{{option.title}}</mat-option>
										</mat-select>
										<mat-error>Curriculum is <strong>required</strong></mat-error>
										<mat-hint align="start">Please select <strong>curriculum</strong></mat-hint>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="m-form__group">
							<div class="row">
								<div class="col-md-12 m--margin-bottom-10-mobile">
									<angular-editor name="htmlContent" formControlName="description" [config]="config"></angular-editor>
								</div>
							</div>
						</div>
						<div class="m-form__section m-form__section--first">
							<div class="m-form__group">
								<div class="row">
									<div class="col-md-6 m--margin-bottom-10-mobile">
										<div class="video-empty mb-4 pt-2" *ngIf="!course.hasVideo">
											<hr class="mt-1">
											<p class="m--regular-font-size-lg3">You have not added any videos yet.</p>
											<button mat-raised-button class="bg-success mb-2 text-white" (click)="addVideo()">Add video</button>
											<hr>
										</div>
										<div class="" *ngIf="course.hasVideo">
											<div class="video-box mb-4 clearfix" *ngIf="video.videoUrl">
												<video class="video-js vjs-big-play-centered" controls preload="auto" id="video">
													<source [src]="video.videoUrl" type="video/webm">
												</video>
												<div class="video-action">
													<button mat-icon-button [matMenuTriggerFor]="menu" mat-mini-fab color="primary">
														<mat-icon>more_vert</mat-icon>
													</button>
													<mat-menu #menu="matMenu">
														<button mat-menu-item color="primary" (click)="deleteVideo()">Delete video</button>
														<button mat-menu-item color="primary" (click)="deleteVideo(true)">Delete and add new one</button>
													</mat-menu>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6 d-flex" *ngIf="course.hasVideo">
										<perfect-scrollbar class="m-scrollable m-scroller" style="max-height: 100%;">
											<div class="empty-box" *ngIf="markers.length == 0 || !checkDeletedMarkers()">
												<h4>There are no annotations for this video...</h4>
												<p>To begin annotating this video:</p>
												<ol>
													<li>Start the video by pressing play</li>
													<li>When you're ready to add an annotation, click "Add new annotation"</li>
													<li>Fill out the annotation form, then click "Save"</li>
												</ol>
												<div class="btn-wrap d-flex border-top pt-4 pb-1 mt-auto w-100">
													<button mat-raised-button class="bg-success text-white addAnnotation ml-auto" (click)="mAdd()" [disabled]="checkMarkers(markers)">Add new annotation</button>
												</div>
											</div>
											<div class="markers-list" id="markerList" *ngIf="markers.length > 0 && checkDeletedMarkers()" [formArrayName]="'markers'">
												<mat-card [attr.data-id]="markers[i].id" [id]="'marker-' + i" class="marker p-3 pb-0" *ngFor="let marker of courseForm.controls['markers'].controls; let i = index; let last = last" [ngClass]="{'edit p-3 bg-warning': markers[i]._isEditMode, 'p-0': !markers[i]._isEditMode}" [formGroupName]="i" [hidden]="markers[i]._isDeleted">
													<div class="duration border-bottom d-flex align-items-center" [ngClass]="{'p-3': !markers[i]._isEditMode, 'pb-3 mb-3': markers[i]._isEditMode}">
														<span class="mr-2">From:</span>
														<button class="bg-secondary align-self-top mr-2" mat-raised-button (click)="timeMarkerAction(i, markers[i].time, true)">{{convertTime(markers[i].time)}}</button>
														&mdash;
														<span class="mx-2">To:</span>
														<button [ngClass]="{'bg-warning text-white': !markers[i].displayTime}" class="bg-secondary align-self-top" mat-raised-button (click)="timeMarkerAction(i, markers[i].displayTime)">{{markers[i].displayTime ? convertTime(markers[i].displayTime) : 'Click to add'}}</button>
													</div>
													<div class="title d-flex justify-content-between" [ngClass]="{'mb-3': markers[i]._isEditMode, 'border-bottom': !markers[i]._isEditMode}">
														<input required formControlName="markerTitle"  type="text" placeholder="Enter Annotation Title" [ngClass]="{'border  border-dark': markers[i]._isEditMode, 'border-0': !markers[i]._isEditMode}" class="p-3 w-100" [readonly]="!markers[i]._isEditMode">
													</div>
													<div class="marker-description w-100" [ngClass]="{'mb-3': markers[i]._isEditMode}">
														<textarea placeholder="Enter Annotation Description" formControlName="markerDescription" required [ngClass]="{'border border-dark': markers[i]._isEditMode, 'border-0': !markers[i]._isEditMode}" class="w-100 p-3 border d-block" style="font-size: 14px" [readonly]="!markers[i]._isEditMode"></textarea>
													</div>
													<div class="marker-footer border-top d-flex justify-content-between align-items-center" [ngClass]="{'py-3': markers[i]._isEditMode, 'p-3': !markers[i]._isEditMode}">
														<p class="mb-0">{{markers[i]._updatedDate | date :'medium'}}</p>
														<div class="btn-wrap">
															<button class="mr-3 bg-success text-white" mat-raised-button (click)="mEdit(i)" [disabled]='(!markers[i].displayTime) || (!markers[i]._isEditMode && checkMarkers(markers))'><i class="fa fa-pencil-alt mr-2"></i>{{markers[i]._isEditMode ? 'Save' : 'Edit'}}</button>
															<button class="bg-danger text-white" mat-raised-button (click)="mDelete(i)"><i class="fa fa-trash mr-2"></i>Delete</button>
														</div>
													</div>
												</mat-card>
											</div>
										</perfect-scrollbar>
										<div class="btn-wrap d-flex border-top pt-4 mx-2 pb-1 mt-auto w-100" *ngIf="markers.length > 0 && checkDeletedMarkers()">
											<button mat-raised-button class="bg-success text-white addAnnotation ml-auto" (click)="mAdd()" [disabled]="checkMarkers(markers)">Add new annotation</button>
											<button mat-raised-button class="bg-danger text-white addAnnotation ml-3" (click)="mRemoveAll()" *ngIf="markers.length != 0 && checkDeletedMarkers()">Delete all annotation</button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</form>
					<!--end::Form-->
				</ng-template>
			</mat-tab>
			<mat-tab label="Criteria">
				<ng-template matTabContent>
					<m-criteria [dataCriteria]="criteria"></m-criteria>
				</ng-template>
			</mat-tab>
			<mat-tab label="Resources&Files">
				<ng-template matTabContent>
					<m-resources [dataFiles]="files"></m-resources>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
</m-portlet>
