﻿<!--
<div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);">TrainingMachine</a>
    </div>

    <div *ngIf="showTenantChange()" class="tenant-change-box">
        <tenant-change></tenant-change>
    </div>

    <router-outlet></router-outlet>

    <account-languages></account-languages>

    <div class="row">
        <div class="col-xs-12 text-center" style="color: #e9e9e9">
            <small>&copy; {{currentYear}} TrainingMachine. <b>Version </b> {{versionText}}</small>
        </div>
    </div>

</div>-->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6" id="m_login">
	<div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2 m-grid m-grid--hor m-login__aside" style="background-image: url(assets/app/media/img/bg/bg-4.jpg);">
		<div class="m-grid__item">
			<div class="m-login__logo">
				<a href="#">
					<img src="./assets/app/media/img/logos/logo-4.png">
				</a>
			</div>
		</div>

		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
			<div class="m-grid__item m-grid__item--middle">
				<span class="m-login__title">Whatever CTA's wave purpose important exit element</span>
				<span class="m-login__subtitle">Lorem ipsum amet estudiat</span>
			</div>
		</div>

		<div class="m-grid__item">
			<div class="m-login__info">
				<div class="m-login__section">
					<a href="javascript:;" class="m-link">&copy; {{today | date:'yyyy'}} Metronic</a>
				</div>
				<div class="m-login__section">
					<a href="javascript:;" class="m-link">Privacy</a>
					<a href="javascript:;" class="m-link">Legal</a>
					<a href="javascript:;" class="m-link">Contact</a>
				</div>
			</div>
		</div>
	</div>

	<div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1 m-login__wrapper">
		<!--begin::Head-->
		<div class="m-login__head">
			<span>Don't have an account?</span>
			<a href="javascript:;" class="m-link m--font-danger">Sign Up</a>
		</div>
		<!--end::Head-->
		<div *ngIf="showTenantChange()" class="tenant-change-box">
			<tenant-change></tenant-change>
		</div>
		<!--begin::Body-->
		<div class="m-login__body">
			<router-outlet></router-outlet>
			<account-languages></account-languages>
		</div>
		<!--end::Body-->
	</div>
</div>
